@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Sen-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahnschrift";
  src: url("../fonts/Bahnschrift.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-base: #000000;
  --color-dark-blue: #181823;
  --color-light-grey: #8491A0;
  --color-dark-grey: #5B6876;
  --color-text: #FFFFFF;
  --color-primary: #5221E6;
  --color-green-accent: #3CC74E;
  --color-blue-accent: #609BFF;
  --color-pink-accent: #E95D90;
  --color-peach-accent: #FFF3E4;
  --color-violet-accent: #FBE4FF;
  --color-burger-button: #C4C4C4;
  --border: 0.0625rem solid var(--color-dark-blue);
  --border-link: 0.0625rem solid var(--color-light-grey);
  --border-card: 0.0625rem solid var(--color-dark-grey);
  --font-family-base: "Sen", sans-serif;
  --font-family-accent: "Bahnschrift", sans-serif;
  --container-width: 80.9375rem;
  --container-padding-x: 1.25rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 1rem;
  color: var(--color-light-grey);
  background-color: var(--color-base);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 700;
  color: var(--color-text);
}

h1, .h1 {
  font-size: clamp(2rem, 0.7610497238rem + 5.0828729282vw, 4.875rem);
  line-height: normal;
}

h2, .h2 {
  font-size: clamp(2rem, 1.3805248619rem + 2.5414364641vw, 3.4375rem);
  line-height: normal;
}

h3, .h3 {
  font-size: 1.5rem;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-primary);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

section:not(:first-child) {
  padding-block: 7.5rem;
}
@media (width <= 63.99875rem) {
  section:not(:first-child) {
    padding-block: 5rem;
  }
}
@media (width <= 47.99875rem) {
  section:not(:first-child) {
    padding-block: 3rem;
  }
}

@media (width <= 47.99875rem) {
  .hero {
    display: contents;
  }
}
.hero__inner {
  position: relative;
}
@media (width <= 47.99875rem) {
  .hero__inner {
    display: contents;
  }
}
.hero__inner::before {
  content: "";
  position: absolute;
  z-index: 4;
  top: 10.3125rem;
  left: 0;
  width: 46.875rem;
  height: 40.625rem;
  background: url("../img/hero/hero-bg-desktop.jpg") center/contain no-repeat;
}
@media (width <= 63.99875rem) {
  .hero__inner::before {
    opacity: 0.3;
  }
}
@media (width <= 47.99875rem) {
  .hero__inner::before {
    width: 24.0625rem;
    height: 40.625rem;
    background: url("../img/hero/hero-bg-tablet.jpg") center/contain no-repeat;
    opacity: 1;
  }
}
@media (width <= 30.06125rem) {
  .hero__inner::before {
    top: 4.5rem;
    width: 100%;
    height: 18rem;
    background: url("../img/hero/hero-bg-mobile.jpg") center/cover no-repeat;
  }
}
.hero__inner::after {
  width: 56.25rem;
  height: 56.25rem;
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: var(--color-dark-blue);
}
@media (width <= 63.99875rem) {
  .hero__inner::after {
    display: none;
  }
}
.hero__content {
  display: grid;
  row-gap: 2rem;
  position: relative;
  z-index: 5;
  max-width: 48.625rem;
  padding-block: 14.0625rem;
  padding-right: 2.5rem;
  margin-left: auto;
}
@media (width <= 47.99875rem) {
  .hero__content {
    max-width: 25.5rem;
    padding-top: 10.4375rem;
    padding-bottom: 10.75rem;
  }
}
@media (width <= 30.06125rem) {
  .hero__content {
    max-width: 100%;
    margin: 0;
    padding-top: 20.9375rem;
    padding-bottom: 3rem;
    padding-inline: 1.25rem;
  }
}
.hero__title span {
  color: rgba(255, 255, 255, 0.5);
}
.hero__description {
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--color-text);
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 6.25rem 12.5rem;
  background-color: var(--color-base);
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-text);
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    background-color: var(--color-base);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.875rem;
}
@media (width <= 47.99875rem) {
  .header__body {
    height: 4.5rem;
  }
}
.header__menu-list {
  display: flex;
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    align-items: center;
    row-gap: 1.875rem;
  }
}
.header__menu-item {
  padding: 2rem 1.5rem;
  transition-duration: var(--transition-duration);
}
@media (width <= 47.99875rem) {
  .header__menu-item {
    padding: 0.3125rem;
  }
}
@media (any-hover: hover) {
  .header__menu-item:hover {
    background-color: var(--color-primary);
  }
}
@media (any-hover: none) {
  .header__menu-item:active {
    background-color: var(--color-primary);
  }
}
.header__menu-link {
  color: var(--color-text);
}

.burger-button {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3125rem;
  position: relative;
  z-index: 2;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
@media (any-hover: hover) {
  .burger-button:hover .burger-button__line {
    background-color: var(--color-primary);
  }
}
@media (any-hover: none) {
  .burger-button:active .burger-button__line {
    background-color: var(--color-primary);
  }
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  transform: translateY(0.5625rem) rotate(45deg);
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  position: static;
  width: 1.125rem;
  transform: translateY(0.0625rem) rotate(-45deg);
}
.burger-button__line {
  display: block;
  height: 0.1875rem;
  background-color: var(--color-burger-button);
  transition-duration: var(--transition-duration);
}
.burger-button__line:nth-child(1) {
  width: 1.125rem;
}
.burger-button__line:nth-child(2) {
  position: relative;
  left: 0.125rem;
  width: 0.8125rem;
}

.work__heading {
  display: grid;
  row-gap: 0.5rem;
}
.work__heading:not(:last-child) {
  margin-bottom: 2.5rem;
}
.work__heading-title {
  max-width: 43.0625rem;
}
.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .work__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 30.06125rem) {
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
}
.work__num {
  font-size: 7.3125rem;
}
.work__title:not(:last-child) {
  margin-bottom: 1.375rem;
}
@media (width <= 30.06125rem) {
  .work__title:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.work__accent-green {
  color: var(--color-green-accent);
}
.work__accent-blue {
  color: var(--color-blue-accent);
}
.work__accent-pink {
  color: var(--color-pink-accent);
}
.work__description {
  max-width: 23rem;
}

.subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */