@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo";
  src: url("../fonts/Sen-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahnschrift";
  src: url("../fonts/Bahnschrift.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-base: #000000;
  --color-dark-blue: #181823;
  --color-light-grey: #8491A0;
  --color-dark-grey: #5B6876;
  --color-text: #FFFFFF;
  --color-primary: #5221E6;
  --color-green-accent: #3CC74E;
  --color-blue-accent: #609BFF;
  --color-pink-accent: #E95D90;
  --color-peach-accent: #FFF3E4;
  --color-violet-accent: #FBE4FF;
  --color-burger-button: #C4C4C4;
  --border: 0.0625rem solid var(--color-dark-blue);
  --border-link: 0.0625rem solid var(--color-light-grey);
  --border-card: 0.0625rem solid var(--color-dark-grey);
  --border-button: 0.0625rem solid var(--color-primary);
  --font-family-base: "Sen", sans-serif;
  --font-family-accent: "Bahnschrift", sans-serif;
  --container-width: 80.9375rem;
  --container-padding-x: 1.25rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 1rem;
  color: var(--color-light-grey);
  background-color: var(--color-base);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 700;
  color: var(--color-text);
}

h1, .h1 {
  font-size: clamp(2rem, 0.7610497238rem + 5.0828729282vw, 4.875rem);
  line-height: normal;
}

h2, .h2 {
  font-size: clamp(2rem, 1.3805248619rem + 2.5414364641vw, 3.4375rem);
  line-height: normal;
}

h3, .h3 {
  font-size: 1.5rem;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-primary);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

section:nth-child(2),
section:nth-child(4),
section:nth-child(5),
section:nth-child(7),
section:nth-child(8),
section:nth-child(9),
section:nth-child(10) {
  padding-block: 7.5rem;
}
@media (width <= 63.99875rem) {
  section:nth-child(2),
  section:nth-child(4),
  section:nth-child(5),
  section:nth-child(7),
  section:nth-child(8),
  section:nth-child(9),
  section:nth-child(10) {
    padding-block: 5rem;
  }
}
@media (width <= 47.99875rem) {
  section:nth-child(2),
  section:nth-child(4),
  section:nth-child(5),
  section:nth-child(7),
  section:nth-child(8),
  section:nth-child(9),
  section:nth-child(10) {
    padding-block: 3rem;
  }
}

.hero {
  display: contents;
}
.hero__inner {
  position: relative;
  display: contents;
}
.hero__inner::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 71.875rem;
  height: 56.25rem;
  background-color: var(--color-dark-blue);
}
@media (width <= 63.99875rem) {
  .hero__inner::after {
    display: none;
  }
}
.hero__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 50.9375rem;
}
@media (width <= 30.06125rem) {
  .hero__body {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    height: auto;
    padding-bottom: 3rem;
  }
}
.hero__image {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 40.625rem;
  background: url("../img/hero/hero-bg-desktop.jpg") right/contain no-repeat;
}
@media (width <= 47.99875rem) {
  .hero__image {
    background: url("../img/hero/hero-bg-tablet.jpg") center/contain no-repeat;
  }
}
@media (width <= 30.06125rem) {
  .hero__image {
    height: 18rem;
    background: url("../img/hero/hero-bg-mobile.jpg") center/cover no-repeat;
  }
}
.hero__content {
  position: relative;
  z-index: 5;
  left: -5.5rem;
  display: grid;
  row-gap: 2rem;
  max-width: 48.625rem;
}
@media (width <= 47.99875rem) {
  .hero__content {
    left: -4rem;
  }
}
@media (width <= 30.06125rem) {
  .hero__content {
    left: 0;
    max-width: 100%;
    padding-inline: 1.25rem;
  }
}
.hero__title span {
  color: rgba(255, 255, 255, 0.5);
}
.hero__description {
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--color-text);
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 6.25rem 12.5rem;
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-text);
    background-color: var(--color-base);
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    background-color: var(--color-base);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.875rem;
}
@media (width <= 47.99875rem) {
  .header__body {
    height: 4.5rem;
  }
}
.header__menu-list {
  display: flex;
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    align-items: center;
    row-gap: 1.875rem;
  }
}
.header__menu-item {
  padding-inline: 1.5rem;
  transition-duration: var(--transition-duration);
}
@media (width <= 47.99875rem) {
  .header__menu-item {
    padding: 0.3125rem;
  }
}
@media (any-hover: hover) {
  .header__menu-item:hover {
    background-color: var(--color-primary);
  }
}
@media (any-hover: none) {
  .header__menu-item:active {
    background-color: var(--color-primary);
  }
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  color: var(--color-text);
  height: 5.5rem;
}
@media (width <= 47.99875rem) {
  .header__menu-link {
    height: auto;
  }
}

.burger-button {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3125rem;
  position: relative;
  z-index: 2;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
@media (any-hover: hover) {
  .burger-button:hover .burger-button__line {
    background-color: var(--color-primary);
  }
}
@media (any-hover: none) {
  .burger-button:active .burger-button__line {
    background-color: var(--color-primary);
  }
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  transform: translateY(0.5625rem) rotate(45deg);
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  position: static;
  width: 1.125rem;
  transform: translateY(0.0625rem) rotate(-45deg);
}
.burger-button__line {
  display: block;
  height: 0.1875rem;
  background-color: var(--color-burger-button);
  transition-duration: var(--transition-duration);
}
.burger-button__line:nth-child(1) {
  width: 1.125rem;
}
.burger-button__line:nth-child(2) {
  position: relative;
  left: 0.125rem;
  width: 0.8125rem;
}

.work__heading:not(:last-child) {
  margin-bottom: 2.5rem;
}
.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .work__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 30.06125rem) {
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
}
.work__num {
  font-size: 7.3125rem;
}
.work__title:not(:last-child) {
  margin-bottom: 1.375rem;
}
@media (width <= 30.06125rem) {
  .work__title:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.work__accent-green {
  color: var(--color-green-accent);
}
.work__accent-blue {
  color: var(--color-blue-accent);
}
.work__accent-pink {
  color: var(--color-pink-accent);
}
.work__description {
  max-width: 23rem;
}

.heading {
  display: grid;
}
.heading--alternate {
  row-gap: 0.5rem;
}
.heading--base {
  row-gap: 1.5rem;
  align-self: start;
}
.heading--full {
  max-width: 37.1875rem;
  align-self: start;
}
@media (width <= 30.06125rem) {
  .heading--full {
    max-width: 100%;
  }
}
.heading__title--work {
  max-width: 43.0625rem;
}
.heading__title--projects {
  max-width: 35.75rem;
}
@media (width <= 47.99875rem) {
  .heading__title--projects {
    max-width: 100%;
  }
}
.heading__title--full:not(:last-child) {
  margin-bottom: 1.5rem;
}
.heading__description {
  font-size: 1.125rem;
}
.heading__description--skillset {
  max-width: 23rem;
}
@media (width <= 47.99875rem) {
  .heading__description--skillset {
    max-width: 100%;
  }
}
.heading__description--full:not(:last-child) {
  margin-bottom: 2.5rem;
}
.heading__description--photo {
  max-width: 36.75rem;
}
@media (width <= 47.99875rem) {
  .heading__description--photo {
    max-width: 100%;
  }
}
.heading__description--started {
  max-width: 32.875rem;
}
@media (width <= 47.99875rem) {
  .heading__description--started {
    max-width: 100%;
  }
}
.heading__link {
  width: fit-content;
  padding-bottom: 0.25rem;
  border-bottom: var(--border-link);
}
@media (any-hover: hover) {
  .heading__link:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}
@media (any-hover: none) {
  .heading__link:active {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}
.heading__link--dark {
  color: var(--color-dark-blue);
}
.heading__link--white {
  color: var(--color-text);
}

.subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

.full-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--color-peach-accent);
}
@media (width <= 30.06125rem) {
  .full-page {
    display: flex;
    flex-direction: column;
  }
}
.full-page--inst {
  background-color: var(--color-violet-accent);
}
.full-page__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 8.125rem;
  margin-left: 1.25rem;
  padding-left: calc((100vw - 1348px) / 2);
}
@media (width <= 47.99875rem) {
  .full-page__body {
    padding-right: 2.5rem;
  }
}
@media (width <= 30.06125rem) {
  .full-page__body {
    margin: 0;
    padding: 3rem 1.25rem;
  }
}
.full-page__title {
  color: var(--color-dark-blue);
}
.full-page__title:not(:last-child) {
  margin-bottom: 1.5rem;
}
.full-page__description {
  color: var(--color-dark-grey);
}
.full-page__description:not(:last-child) {
  margin-bottom: 8.375rem;
}
@media (width <= 47.99875rem) {
  .full-page__description:not(:last-child) {
    margin-bottom: 4.1875rem;
  }
}
@media (width <= 30.06125rem) {
  .full-page__description:not(:last-child) {
    margin-bottom: 5.625rem;
  }
}
.full-page__image img {
  width: 100%;
  height: 37.5rem;
  object-fit: cover;
}
@media (width <= 30.06125rem) {
  .full-page__image img {
    height: 28.125rem;
  }
}
.full-page__link {
  width: fit-content;
  color: var(--color-dark-blue);
  padding-bottom: 0.25rem;
  border-bottom: var(--border-link);
}
@media (any-hover: hover) {
  .full-page__link:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}
@media (any-hover: none) {
  .full-page__link:active {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

.skillset__inner:not(:last-child) {
  margin-bottom: 7.5rem;
}
.skillset__body {
  display: grid;
  grid-template-columns: 21.6666666667vw 1fr;
  column-gap: 1.5rem;
}
.skillset__body:not(:last-child) {
  margin-bottom: 7.5rem;
}
@media (width <= 47.99875rem) {
  .skillset__body:not(:last-child) {
    margin-bottom: 5rem;
  }
}
@media (width <= 30.06125rem) {
  .skillset__body:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (width <= 47.99875rem) {
  .skillset__body {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}
@media (width <= 30.06125rem) {
  .skillset__body {
    row-gap: 4.3125rem;
  }
}
.skillset__list {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  column-gap: 1.5rem;
  row-gap: 3rem;
}
@media (width <= 30.06125rem) {
  .skillset__list {
    grid-template: 1fr/1fr;
  }
}
.skillset__icon:not(:last-child) {
  margin-bottom: 1.5rem;
}
.skillset__title:not(:last-child) {
  margin-bottom: 0.75rem;
}
.skillset__description {
  max-width: 23rem;
}
@media (width <= 47.99875rem) {
  .skillset__description {
    max-width: 100%;
  }
}

.brands {
  overflow-x: hidden;
}
.brands__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100vw;
  padding-left: calc((100vw - 1348px) / 2);
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
@media (width <= 47.99875rem) {
  .brands__list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    scroll-snap-type: none;
    overflow: auto;
  }
}
.brands__item {
  border: var(--border);
  padding: 3.4375rem 7.8125rem;
}
@media (width <= 47.99875rem) {
  .brands__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 8.75rem;
  }
}
.brands__icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media (width <= 30.06125rem) {
  .brands__icon svg {
    width: 70%;
    height: 70%;
  }
}
@media (any-hover: hover) {
  .brands__icon:hover svg path {
    fill: var(--color-primary);
  }
}
@media (any-hover: none) {
  .brands__icon:active svg path {
    fill: var(--color-primary);
  }
}

.projects__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .projects__inner {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}
.projects__heading:not(:last-child) {
  margin-bottom: 5rem;
}
.projects__list {
  display: grid;
  row-gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .projects__list {
    row-gap: 3rem;
  }
}

.card-projects {
  transition-duration: var(--transition-duration);
}
@media (any-hover: hover) {
  .card-projects:hover {
    scale: 1.01;
  }
  .card-projects:hover .card-projects__link {
    color: var(--color-primary);
  }
}
@media (any-hover: none) {
  .card-projects:active {
    scale: 1.01;
  }
  .card-projects:active .card-projects__link {
    color: var(--color-primary);
  }
}
@media (width <= 47.99875rem) {
  .card-projects__image img {
    width: 100%;
    height: 100%;
  }
}
.card-projects__content {
  display: grid;
  row-gap: 0.8125rem;
  padding: 2.5rem 2rem;
  background-color: var(--color-dark-blue);
}

.button {
  display: block;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--color-text);
  background-color: transparent;
  border: none;
  border: var(--border-button);
}
@media (any-hover: hover) {
  .button:hover {
    background-color: var(--color-primary);
  }
}
@media (any-hover: none) {
  .button:active {
    background-color: var(--color-primary);
  }
}
.button--projects {
  padding: 1.5rem 2rem;
  margin-top: 5.6875rem;
  margin-bottom: 4.875rem;
  justify-self: center;
}
@media (width <= 47.99875rem) {
  .button--projects {
    margin-block: 2.5rem;
  }
}
.button--tabs {
  padding: 0.75rem 1rem;
}
.button--form {
  padding-block: 1.5rem;
}

.dribbble__heading:not(:last-child) {
  margin-bottom: 7.5rem;
}
@media (width <= 47.99875rem) {
  .dribbble__heading:not(:last-child) {
    margin-bottom: 4rem;
  }
}
.dribbble__body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.dribbble__image {
  border-radius: 0.5rem;
}

.about__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .about__inner {
    grid-template-columns: 1fr;
  }
}
@media (width <= 47.99875rem) {
  .about__heading {
    margin-bottom: 4rem;
  }
}
.about__item:not(:last-child) {
  margin-bottom: 7.5rem;
}
@media (width <= 47.99875rem) {
  .about__item:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (width <= 47.99875rem) {
  .about__image img {
    width: 100%;
    height: 100%;
  }
}
.about__content {
  border: var(--border-card);
  padding: 4rem;
}
@media (width <= 63.99875rem) {
  .about__content {
    padding: 2rem;
  }
}
.about__quote {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-text);
}
.about__quote:not(:last-child) {
  margin-bottom: 4rem;
}
.about__author {
  display: grid;
  row-gap: 0.25rem;
  font-size: 1.125rem;
  color: var(--color-dark-grey);
}
.about__author span:nth-child(1) {
  font-weight: 700;
}

.photo__heading:not(:last-child) {
  margin-bottom: 4rem;
}
@media (width <= 30.06125rem) {
  .photo__heading:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.tabs {
  display: grid;
  row-gap: 2.5rem;
}
.tabs__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
@media (width <= 30.06125rem) {
  .tabs__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.tabs__button.is-active {
  background-color: var(--color-primary);
}
.tabs__body {
  position: relative;
  width: 100%;
  height: 26.25rem;
  overflow: hidden;
}
@media (width <= 47.99875rem) {
  .tabs__body {
    height: 100%;
  }
}
.tabs__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}
@media (width <= 47.99875rem) {
  .tabs__content {
    position: relative;
  }
}
.tabs__content:not(.is-visible):not(.is-back):not(.is-forward) {
  display: none;
}
.tabs__content.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  display: block;
}
.tabs__content.is-forward {
  z-index: 2;
  pointer-events: auto;
  animation-name: tab-forward;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@keyframes tab-forward {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
  30% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.tabs__content.is-back {
  z-index: 1;
  pointer-events: none;
  animation-name: tab-back;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@keyframes tab-back {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  70% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
  }
}
@media (width <= 47.99875rem) {
  .tabs__image {
    width: 100%;
    height: 100%;
  }
}
.tabs__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .tabs__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 30.06125rem) {
  .tabs__list {
    grid-template-columns: 1fr;
  }
}

.started__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .started__inner {
    grid-template-columns: 1fr;
  }
}
.started__heading {
  justify-self: end;
}
@media (width <= 47.99875rem) {
  .started__heading {
    margin-bottom: 3rem;
  }
}

.feedback-form {
  display: grid;
  row-gap: 2.5rem;
  max-width: 32.8125rem;
}
@media (width <= 47.99875rem) {
  .feedback-form {
    max-width: 100%;
  }
}

.field {
  display: grid;
  row-gap: 0.5rem;
}
.field__label {
  font-weight: 400;
  color: var(--color-text);
}
.field__input, .field__textarea {
  color: var(--color-text);
  background-color: var(--color-dark-blue);
  border: none;
  padding-inline: 1rem;
}
.field__input {
  height: 3.125rem;
}
.field__textarea {
  height: 6.25rem;
  padding-block: 0.3125rem;
  resize: vertical;
}

.footer {
  background-color: var(--color-dark-blue);
}
.footer__inner {
  padding-block: 5rem;
}
@media (width <= 30.06125rem) {
  .footer__inner {
    padding-block: 3rem;
  }
}
.footer__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (width <= 47.99875rem) {
  .footer__body {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}
.footer__body:not(:last-child) {
  margin-bottom: 3rem;
}
.footer__actions {
  display: grid;
  row-gap: 2rem;
  align-self: start;
}
.footer__menu {
  display: flex;
  column-gap: 1.5rem;
  max-width: 26rem;
  margin-left: 8.375rem;
}
@media (width <= 47.99875rem) {
  .footer__menu {
    max-width: 100%;
    margin: 0;
  }
}
@media (width <= 30.06125rem) {
  .footer__menu {
    display: grid;
  }
}
.footer__menu-column {
  width: 12.25rem;
}
@media (width <= 47.99875rem) {
  .footer__menu-column {
    width: 100%;
  }
}
.footer__menu-item {
  display: flex;
  align-items: center;
  height: 3rem;
}
.footer__menu-link {
  color: var(--color-text);
}
@media (any-hover: hover) {
  .footer__menu-link:hover {
    color: var(--color-primary);
  }
}
@media (any-hover: none) {
  .footer__menu-link:active {
    color: var(--color-primary);
  }
}

.soc1als__list {
  display: flex;
  column-gap: 1rem;
}
@media (any-hover: hover) {
  .soc1als__link:hover svg path {
    fill: var(--color-primary);
  }
}
@media (any-hover: none) {
  .soc1als__link:active svg path {
    fill: var(--color-primary);
  }
}

/*# sourceMappingURL=main.css.map */