@use 'helpers' as *;

html {
    &.is-lock {
        overflow: hidden
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    font-size: rem(16);
    color: var(--color-light-grey);
    background-color: var(--color-base);
}

h1, .h1,
h2, .h2,
h3, .h3 {
    font-weight: 700;
    color: var(--color-text);
}


h1, .h1 {
    @include fluid-text(78, 32);

    line-height: normal;
}

h2, .h2 {
    @include fluid-text(55, 32);
    
    line-height: normal;
}

h3, .h3 {
    font-size: rem(24);
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;

    &[class] {
        text-decoration: none;
    }
}

:focus-visible {
    outline: rem(2) dashed var(--color-primary);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

section:nth-child(2),
section:nth-child(4),
section:nth-child(5),
section:nth-child(7),
section:nth-child(8),
section:nth-child(9),
section:nth-child(10) {
    padding-block: rem(120);

    @include tablet {
        padding-block: rem(80);
    }

    @include mobile {
        padding-block: rem(48);
    }
}

#experience,
#work,
#photo,
#contact {
    scroll-margin-top: rem(88);
    
    @include mobile {
        scroll-margin-top: rem(72);
    }
}
