@use 'helpers' as *;

.card-projects {
    transition-duration: var(--transition-duration);

    @include hover {
        scale: 1.01;

        .card-projects__link {
            color: var(--color-primary);
        }
    }

    &__image {
        img {
            @include mobile {
                @include square(100%);
            }
        }
    }

    &__content {
        display: grid;
        row-gap: rem(13);
        padding: rem(40) rem(32);
        background-color: var(--color-dark-blue);
    }
}