@use 'helpers' as *;

.dribbble {
    &__heading {
        &:not(:last-child) {
            margin-bottom: rem(120);

            @include mobile {
                margin-bottom: rem(64);
            }
        }
    }

    &__body {
        @include flexbox(true, center, center);
    }

    &__image {
        border-radius: rem(8);
    }
}