@use 'helpers' as *;

.dribbble {
    &__heading {
        max-width: rem(620);

        @include mobile-s {
            max-width: 100%;
        }

        &:not(:last-child) {
            margin-bottom: rem(120);

            @include mobile {
                margin-bottom: rem(64);
            }
        }

        &-title {
            &:not(:last-child) {
                margin-bottom: rem(24);
            }
        }
        
        &-description {
            &:not(:last-child) {
                margin-bottom: rem(40);
            }
        }
    }

    &__body {
        @include flexbox(true, center, center);
    }

    &__image {
        border-radius: rem(8);
    }
}