@use 'helpers' as *;

.link-base {
    padding-bottom: rem(4);
    border-bottom: var(--border-link);
    align-self: start;

    @include hover {
        color: var(--color-primary);
        border-color: var(--color-primary);
    }

    &--dark {
        color: var(--color-dark-blue);
    }

    &--white {
        color: var(--color-text);
    }
}