@use 'helpers' as *;

.started {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(24);

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__heading {
        justify-self: end;

        @include mobile {
            margin-bottom: rem(48);
        }
    }
}